.m-0-heading {
    margin: 0;
}

.m-0 {
    margin: 0;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.d-none {
    display: none;
}

.mt-1 {
    margin-top: 5px;
}

.ui-mini {
    margin-top: .2em;
    margin-bottom: .2em;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.text-black {
    color: black;
}

.border-danger {
    border-color: red !important;
}

.text-danger {
    color: red;
}

.text-decoration-none {
    text-decoration: none;
}

.custom-input-box {
    border: 0.5px solid #ddd;
    font-size: 14px;
    padding: 7px;
    min-height: 2.4em;
}

.custom-input-box-popup {
    border: 0.5px solid #ddd;
    font-size: 14px;
    padding: 7px;
    min-height: 1.7em;
}

.custom-input-box-focused {
    -webkit-box-shadow: 0 0 12px #3388cc;
    -moz-box-shadow: 0 0 12px #3388cc;
    box-shadow: 0 0 12px #3388cc;
}



/* Left transition */
li.left {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(-100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(-100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(-100%);
    transition: transform 250ms ease;
    transform: translateX(-100%);
}

/* Right transition */
li.right {
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateX(100%);
    -moz-transition: -moz-transform 250ms ease;
    -moz-transform: translateX(100%);
    -o-transition: -o-transform 250ms ease;
    -o-transform: translateX(100%);
    transition: transform 250ms ease;
    transform: translateX(100%);
}

/* Border bottom for the previous button during the transition*/
li.left a.ui-btn,
li.right a.ui-btn {
    border-top-width: 0;
    border-left-width: 1px;
    border-right-width: 1px;
}

li a.ui-btn.border-bottom {
    border-bottom-width: 1px;
}

/* Hide the delete button on touch devices */
ul.touch li.ui-li-has-alt a.delete {
    display: none;
}

ul.touch li.ui-li-has-alt a.ui-btn {
    margin-right: 0;
}

/* Styling for the popup */
#confirm p {
    text-align: center;
    font-size: inherit;
    margin-bottom: .75em;
}